In [4]:
import pandas as pd
import numpy as np

## Series

A one-dimension labeled array capable of holding any data type

In [2]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])

In [4]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [5]:
s['b']

-5

## Dataframe

A two-dimensional labeled data structure with columns of potentially different types

In [5]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
       'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
       'Population': [11190846, 1303171035, 207847528]}

In [6]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [8]:
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])

In [9]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [10]:
# select single value by row&column
df.iloc[0, 0]

'Belgium'

In [13]:
# select single value by row&column labels
df.loc[0, 'Country']

'Belgium'

In [14]:
df.loc[:, 'Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [15]:
s.drop(['a', 'c'])

b   -5
d    4
dtype: int64

In [16]:
df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasilia   207847528
1    India  New Delhi  1303171035

In [17]:
df.shape

(3, 3)

In [18]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [19]:
print(df.columns)

Index(['Country', 'Capital', 'Population'], dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [21]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

In [22]:
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasilia
Population                   1522209409
dtype: object

In [23]:
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasilia  1522209409

In [24]:
df.min()

Country        Belgium
Capital       Brasilia
Population    11190846
dtype: object

In [25]:
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [26]:
# df.apply(lambda x : 수행문) : dataframe의 모든 요소들에 대해 함수를 적용하라!
df.apply(lambda x: x*2)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

1. 람다 함수(lambda x : x 관련 수행문)
- 익명의 함수
- 임시로 함수가 들어갈 자리에 함수처럼 사용(함수 재사용 필요 없을 때)

2. df.apply(함수) : dataframe의 모든 요소들에 대해 함수를 적용하라!